html, body {
    height: 100%;
}

body, ul, li{
    list-style: none;
    margin: 0px;
}

p{
    text-indent: 5px;
}

textarea{
    text-align: start;
}

/* Inicio Cabecalho */

.corpo {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    background: #F3F5FC;
    
}

.cabecalho {
    background: #e1e8ff;
    
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 5px 11%;
}

.cabecalho .titulo {
    margin: 0px;
    font-size: 20px;
}

.lista-redes-sociais{
    display: flex;
}

.lista-redes-sociais .item-lista-redes-sociais{
    margin-left: 5px;
    font-size: 0px;
}

.botao-rede-social {
    font-size: 9px;
}

.cabecalho .img-botao-rede-social {
    transform: translate(0px, 2px);
    width: 20px;
}

.cabecalho .img-botao-rede-social:hover {
    transform: translate(0px, 2px);
    width: 20px;
    background: #F3F5FC;
    border-radius: 100%;
}


/* Fim Cabeçalho */


/* Incio Conteudo */
.conteudo {
    flex: 1 0 auto;
    display: flex;
    padding: 0% 10%;
}
.container-criptografia{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 1%;
}
.container-criptografia textarea{
    background: rgba(255, 255, 255, 0.478);
    resize: none;
    text-align: justify;
    font-size: 16px;
    border-radius: 25px;
    width: 90%;
    height: 90%;
    padding: 4% 5%;
    border-style: none;
    outline-color: #e1e8ff;
}
.container-criptografia textarea:hover{
    border-style: double;
    border-color: #e1e8ff;
    background: white;
}

.container-criptografia textarea:focus {
    border-style: double;
    border-color: #e1e8ff;
    background: white;
}

.container-descriptografia{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-radius: 25px;
    margin: 1%;
}

.botao{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.botaoDescriptografar{
    display: flex;
    width: 75%;
    justify-content: space-between;
}


.botao-criptografia{
    width: 49%;
    height: 50px;
    margin-top: 7px;
    border-radius: 15px;
}
.botao-copiar{
    width: 100%;
    height: 50px;
    margin-top: 7px;
    border-radius: 15px;
    background: white;
    border-color: #0A3871;
    color: #0A3871;
}

.botao-descriptografia:hover{
    background: rgb(247, 247, 247);
}

.container-descriptografia .saidaDeTexto-criptografada{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 90%;
    height: 90%;
    padding: 4% 5%;
    border-radius: 25px;
    border-style: none;
    background: white;
}

.container-descriptografia-lbl{
    width: 95%;
    height: 95%;
    resize: none;
    border: none;
    outline: none;
}

#criptografar{
    background: #0A3871;
    color: white;
}
#criptografar:hover{
    background: #0c4284;
}

#descriptografar{
    background: #D8DFE8;
    border-color: #e7f1fd;
    color: #0A3871;
}
#descriptografar:hover{
    background: #e8f0fa;
}
/* Fim Conteudo */


/* Inicio Rodape */
.rodape {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    flex-shrink: 0;
    background: #e1e8ff;
    color: black;
    padding: 7px 11%;
    text-align: center;
}
.titulo4-rodape, .pagrafo-rodape{
    margin: 0%;
}
/* Fim Rodape*/

.esconder {
    display: none;
}